.App {
  /* text-align: center; */
  font-size: 20px;
}
body {
  /* background-color: #e94f37; */
  background-color: #627c85;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  /* background-color: #e94f37; */
  background-color: #627c85;
}

button {
  background: #6d7275;
  color: #c7d6d5;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
}
